*{
    margin:0;
    padding:0;
    font: 20px Arial;
}

.calculator_box{
    margin: 50px 150px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: rgb(31, 31, 31);
    padding: 0px;
    width: 207px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    border: solid 8px rgb(15, 15, 15);
}

/* display section */

.display{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.display input{
    cursor: alias;
    background: rgb(82, 82, 82);
    width: 167px;
    padding:10px 20px;
    text-align: right;
    border: none;
    
}

::-webkit-input-placeholder {
    color: white;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: white; 
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: white; 
 }
 
 :-ms-input-placeholder {  
    color: white; 
 }


#calculator_current{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Keyboard section */

.calculator_keyboard{
    display:flex;
    gap : 2px;

}

.numbers_section{
    display: flex;
    gap:2px;
    flex-wrap: wrap;
    width: 155px;
}

.operators_section{
    display: flex;
    gap:2px;
    flex-direction: column;
}

/* buttons section */

.calculator_box button{
    cursor: pointer;
    width: 50px;
    height: 40px;
    color: white;
    border: none;
}

.calculator_box button:active{
    transform: translateY(1px);
}

.number{
    background:rgb(20, 20, 20);
}

.operator{
    background: orange;
}

#clear, #backspace, #change_sign{
    background: rgb(10, 10, 10);
}

#equal{
    background: rgb(70, 70, 255);
}